@charset "UTF-8";

/* Bootstrapの読み込み */
@import "bootstrap";

/* === 全体リセット === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* === HTML, Bodyの基本設定 === */
html, body {
  min-height: 100%;
  font-family: 'Playfair Display', serif;
  color: #333;
  overflow-x: hidden; /* 横スクロール防止 */
}

/* === リンク設定 === */
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.8;
}

/* === ヘッダー === */

.navbar {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 10px 40px;
}

.navbar-brand {
  color: #fff !important;
  font-size: 50px;
}

.navbar-nav a {
  color: #fff;
  transition: color 0.3s ease;
}

.navbar-nav a:hover {
  color: #ddd;
}

/* === ヒーローセクション === */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('/assets/662a8d74-313c-4251-bd64-4df9963cb839.jpg');
  background-size: cover;
  background-position: center;
  color: white;
}

.hero h1 {
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

.hero p {
  font-size: 24px;
}

/* === スクロールスナップ === */
.scroll-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  min-height: 100vh;
  scroll-behavior: smooth;
}

.scroll-container h1 {
  font-size: 60px;
  letter-spacing: 6px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

.scroll-container h2 {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
  letter-spacing: 2px;
}

/* === 各セクションのデザイン === */
.sauna_image, .image-section {
  scroll-snap-align: start;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.section1 {
  background-image: url('/assets/09a85ea7542bece3e5b8c7f5a1fbace1f38d7951.47.9.26.3.jpg');
}

.section2 {
  background-image: url('/assets/662a8d74-dec4-464b-b4de-49ac963cb839.jpg');
}

// .section3 {
//   background-image: url('/assets/662a8d74-dec4-464b-b4de-49ac963cb839.jpg');
// }

/* === フッター === */
footer {
  width: 100%;
  height: 65px;
  padding-top: 10px;
  color: #D8D8D8;
  background-color: gray;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}