<div class="hero">
  <h1>THE <br> CENTURION <br> SAUNA</h1>
  <p>REST & STAY SAPPORO</p>
</div>

<div class="scroll-container">
  <section class="image-section section1">
    <h1>FACILITIES</h1><br>
    <h2>館内施設</h2>
  </section>

  <section class="image-section section2">
    <h1>DAY TRIP BATH</h1><br>
    <h2>日帰り入浴</h2>
  </section>

</div>