<div class="hero">
  <h1>THE <br> CENTURION <br> SAUNA</h1>
  <p>REST & STAY SAPPORO</p>
</div>

<div class="scroll-container">
  <section class="image-section section1">
    <h2>スパ・サウナの魅力</h2>
  </section>

  <section class="image-section section2">
    <h2>リラックス空間</h2>
  </section>

  <section class="image-section section3">
    <h2>最高級の設備</h2>
  </section>
</div>