<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/saunas">SAUNA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="#">お問い合わせ</a></li>
        <li class="nav-item"><a class="nav-link" href="/rooms">宿泊予約</a></li>
        <li class="nav-item"><a class="nav-link" href="#">MENU</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="hero">
  <h1>THE <br> CENTURION <br> SAUNA</h1>
  <p>REST & STAY SAPPORO</p>
</div>

<div class="scroll-container">
  <section class="image-section section1">
    <h1>FACILITIES</h1><br>
    <h2>館内施設</h2>
  </section>

  <section class="image-section section2">
    <h1>DAY TRIP BATH</h1><br>
    <h2>日帰り入浴</h2>
  </section>

</div>